/* body { */
    /* padding: 50px 0 30px; */
/* } */

body {
    padding-top: 50px;
	/* [Footer issues] Margin bottom by footer height */
	margin-bottom: 40px;	
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    /*color: #000;*/
    color: #fff;
    /*background: rgba(0,0,0,0.1);*/
    background: rgba(255,255,255,0.2);
}

/* dropdown-menu */

.sidebar-nav .dropdown-menu {
    background: #000;
    border: 1px solid rgba(255,255,255,.15);
}

/* Same as navbar-inverse */
.navbar-inverse .dropdown-menu {
    background: #222;
    border: 1px solid rgba(255,255,255,.15);
}

.navbar-inverse .dropdown-menu li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav .dropdown-menu li a {
/*    display: block;
    text-decoration: none;
    color: #999999;*/
    padding: initial;
}

#donotuse .sidebar-nav .dropdown-menu li a:hover {
    text-decoration: none;
    /*color: #000;*/
    color: #fff;
    /*background: rgba(0,0,0,0.1);*/
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    /*color: #000;*/
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/**/
.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 40px;
    padding-right: 40px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

/* YBP:[Footer issues] */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  /*background-color: #f5f5f5;*/
}

.footer .text-muted {
    margin: 10px 0;
}

/* Static table vertical scroll */
.my-custom-scrollbar {
    position: relative;
    height: 315px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}