{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Sesión cerrada
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="alert alert-info" role="alert">
        <span>Sesión cerrada.</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      {% include "user/login_form.html" with login_button='Ingresar de Nuevo' %}
    </div>
  </div>
</div>
{% endblock %}
