{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block styles %}
{{ block.super }}
<style type="text/css">
  .navbar {
    margin-bottom: initial !important;
  }
  body {
    margin-bottom: initial !important;
  }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
  {% if messages %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            <span class="{{ message.tags }}">
        {% else %}
          <div class="alert alert-success" role="alert">
            <span>
        {% endif %}
        {{ message|linebreaksbr }}
        </span></div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      {% include "user/login_form.html" %}
    </div>
  </div>
</div>
{% endblock %}
