<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Control de Asistencia Obligatoria</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form"
			action="{% url 'login' %}"
			method="post">
		  {% csrf_token %}
			<div class="alert-danger">{{ form.non_field_errors }}</div>
			<div class="form-group">
				<label for="id_username" class="col-xs-4 col-sm-4 control-label">Usuario</label>
				<div class="col-xs-8 col-sm-8">
					<input id="id_username" name="username" type="text" class="form-control" placeholder="Ingrese su Usuario" required="" autofocus="">
				</div>
			</div>
			<div class="form-group">
				<label for="id_password" class="col-xs-4 col-sm-4 control-label">Contraseña</label>
				<div class="col-xs-8 col-sm-8">
					<input id="id_password" name="password" type="password" class="form-control" placeholder="Contraseña" required="" autocomplete="off">
				</div>
			</div>
		  {% if next %}
			<input
			  type="hidden"
			  name="next"
			  value="{{ next }}">
		  {% endif %}
			<div class="form-group">
			 <div class="col-sm-12">
			  <button class="btn btn-success btn-login btn-block" type="submit">{{ login_button|default:'Ingresar' }}</button>
			 </div>
			</div>
		</form>
	</div>
</div>