{% extends "base.html" %}
{% load static %}

{% block title%}{{ block.super }} - Ingreso/Salida{% endblock title %}

{% block content %}
  <div class="container">
  {% if messages %}
   <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for message in messages %}
             {% if forloop.first %}
              {% if message.tags %}
                <span class="{{ message.tags }}">
              {% else %}
                <span>
              {% endif %}
              {{ message|linebreaksbr }}</span>
             {% endif %}
            {% endfor %}
          </div>
      </div>
   </div>
  {% endif %}
   <div class="row">  
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="thumbnail"> <img alt="logo" src="{% static 'images/logo.jpg' %}" data-holder-rendered="true" style="height: 225px; width: auto; display: block;">
      </div>
    </div>
   </div>
   <div class="row">  
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <div class="btn-group btn-group-justified" role="group" aria-label="Selecciona Ingreso o Salida">
        <div class="btn-group btn-group-lg" role="group">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#TemperaturaModal" data-capture-type="ingreso">INGRESO</button>
          </div>
        </div>
        <div class="btn-group btn-group-lg" role="group">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#TemperaturaModal" data-capture-type="salida">SALIDA</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal dialog -->
    <div class="modal fade" id="TemperaturaModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
         <form role="form" method="post" action="">
         {% csrf_token %}
          <input
            type="hidden"
            name="capture_type"
            value="">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ingrese su Temperatura</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="input-group col-md-6">
                {{ form.temperatura }}
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">°C</button>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
         </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

   </div>
  </div>
{% endblock content %}

{% block script %}
    {{ block.super}}
    <script type="text/javascript">
    $(document).ready(function(){

      $('#TemperaturaModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var captureType = button.data('capture-type') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        // 
        modal.find('input[name=\"capture_type\"]').val(captureType);
      });

    });
    </script>
{% endblock script %}
