{% extends "base.html" %}
{% load static %}
{% block title%}{{ block.super }} - Asistencia{% endblock title %}

{% block content %}
  <div class="container">

    <div id="alert_info" class="row" style="display: none;">
      <div class="col-xs-8 col-md-8">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>Registro de asistencia actualizado.</span>
        </div>
      </div>
    </div>

    {% if messages %}
     <div class="row">
        <div class="col-xs-5 col-md-5">
            <div class="alert alert-success well" role="alert">
                  {% for message in messages %}
                   {% if forloop.first %}
                    {% if message.tags %}
                      <span class="{{ message.tags }}">
                    {% else %}
                      <span>
                    {% endif %}
                    {{ message|linebreaksbr }}</span>
                   {% endif %}
                  {% endfor %}
            </div>
        </div>
     </div>
    {% endif %}
  	<div class="row">
      {% if 'mensaje_captura' in request.session %}
  		<div class="col-xs-5 col-md-5">
  			<div class="alert alert-success text-center" role="alert">
          <p><strong>{{ request.session.mensaje_captura }}.</strong></p>
  			</div>
  		</div>
      {% endif %}
  	</div>

    <div class="row">
      {% if 'conductor' in request.session %}
      <div class="col-xs-6 col-md-6">
       <form id="ajaxForm" class="form-inline" role="form" method="post" action="">
        {% csrf_token %}
        <input
          type="hidden"
          name="asistencia_id"
          value="{{ request.session.asistencia_id }}">
        <button id="submit" type="submit" class="btn btn-success btn-xs">Marcar su ingreso como Conductor</button>
       </form>
      </div>
      {% endif %}
    </div>

  </div>
{% endblock content %}

{% block script%}
  {{ block.super }}

  <script type="text/javascript">$(document).ready(function(){
    setTimeout(() => { window.location = '/ingreso_salida'; }, 3500);

    // 
    $('#submit').on("click", function(e){
      e.preventDefault();

      // Get the form
      var form = document.getElementById("ajaxForm");
      var payload = new FormData(form);       

      $.ajax({
        url: '/ajax/set-ingreso-conductor/',
        type: 'POST',
        data: payload,
        processData: false,
        contentType: false,
        success: function (data) {
          $("#alert_info").attr("style", "display: block;");
        },
        error: function (err) {
          console.error(err);
        },
      });
    });

  });
  </script>
{% endblock script %}

{% block footer %}
    {{ block.super}}
    {# {% include "frontend/footer.html" %} #}
{% endblock footer %}