{% extends "base.html" %}
{% load static %}

{% block title%}{{ block.super }} - Captura Foto{% endblock title %}

{% block styles%}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all">
{% endblock styles %}

{% block content %}
  <div class="container">

   <div id="alert_info" class="row" style="display: none;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      <div class="col-xs-8 col-md-8">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span>Imagen recibida en servidor. Por favor, espere unos momentos...</span>
          </div>
      </div>
    </div>
   </div>

   <div id="alert_error" class="row" style="display: none;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      <div class="col-xs-8 col-md-8">
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span>Error en servidor. Por favor, intente de nuevo.</span>
          </div>
      </div>
    </div>
   </div>

   <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      <div class="col-xs-6 col-md-6">
        <div class="camera">
          <video id="video">Video stream not available.</video>
          <button id="startbutton">Captura Foto</button> 
        </div>
        <canvas id="canvas">
        </canvas>
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="output">
          <img id="photo" alt="The photo capture will appear in this box."> 
        </div>
       <!-- Ajax Form -->
       <div class="hidden_form">
        <form id="ajaxFormImg">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Add</button>
        </form>
       </div>
      </div>
    </div>
   </div>
   <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
      <div class="col-xs-5 col-md-5">
        <h5>Si el reconocimiento facial no funciona correctamente puede utilizar su RUT y número de documento.</h5>
        <p>
          <a href="{% url 'ingreso_rut' %}?t={{ capture_type }}" class="btn btn-sm btn-primary" role="button">{{ capture_type|capfirst }} con RUT</a>
        </p>
      </div>
    </div>
   </div>
  </div>
{% endblock content %}

{% block script%}
  {{ block.super }}
  <script src="{% static 'js/capture.js' %}"></script>

  <script type="text/javascript">$(document).ready(function(){

    function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || '';
        sliceSize = sliceSize || 512;

        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);

            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            var byteArray = new Uint8Array(byteNumbers);

            byteArrays.push(byteArray);
        }

      var blob = new Blob(byteArrays, {type: contentType});
      return blob;
    }

    function upload(event) {
        // event.preventDefault();
        photo = document.getElementById('photo');
        var dataURL = photo.getAttribute('src');
        // var dataURL = $("#photo").attr('src');

        // console.log(dataURL);

        // Split the base64 string in data and contentType
        var block = dataURL.split(";");
        // Get the content type
        var contentType = block[0].split(":")[1];
        // get the real base64 content of the file
        var realData = block[1].split(",")[1];

        // Convert to blob
        var blob = b64toBlob(realData, contentType);

        // Get the form
        var form = document.getElementById("ajaxFormImg");

        var data = new FormData(form);
        data.append('image', blob)

        $.ajax({
            url: '/recon_facial/',
            type: 'POST',
            data: data,
            processData: false,
            contentType: false,
            success: function(data) {
                $('#ajaxFormImg')[0].reset();
                console.log("success");
                window.location = '/captura_aceptada';
            },
            error: function(err){
                console.error(err);
                $("#alert_info").attr("style", "display: none;");
                $("#alert_error").attr("style", "display: block;")
            },
            complete: function(){
                console.log("Request finished.");
            }
        });
        return false;
    }

    // 
    $('.camera').on("click", function(e){
      // 
      // e.preventDefault();
      upload();
      console.log('submitted');
      $("#alert_info").attr("style", "display: block;");
    });

  });
  </script>
{% endblock script %}