{% extends "base.html" %}
{% block title%}{{ block.super }} - Home{% endblock title %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h2>Cuerpo de Bomberos de Peñaflor</h2>
			<h4>Control de Asistencia Obligatoria</h4>
		</div>
	</div>
	<div class="container">
		{% if messages %}
		 <div class="row">	
			<div class="col-xs-12 col-md-4">
				<div class="alert alert-success well" role="alert">			
					  {% for message in messages %}
						{% if message.tags %}
						  <span class="{{ message.tags }}">
						{% else %}
						  <span>
						{% endif %}
						{{ message|linebreaksbr }}</span>
					  {% endfor %}
				</div>
			</div>
		 </div>
		{% endif %}
		{# <h3>¡Bienvenido {{ user.get_short_name }}!</h3> #}
	</div>
{% endblock content %}

{% block footer %}
    {# {% include "frontend/footer.html" %} #}
{% endblock footer %}

{% block script %}
	{{ block.super }}
  <script type="text/javascript">$(document).ready(function(){

		var location = "";
		{% if user.is_superuser or has_control_permission %}
			location = "/ingreso_salida";
		{% elif has_report_permission %}
			location = "/operador_reporte";
		{% endif %}

		if (location) {
			setTimeout(() => { window.location = location; }, 1500);	
		}

  });
  </script>

{% endblock script %}