{% extends "base.html" %}

{% block title %}
{{ block.super }} - Ingreso de RUT
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	 <div class="col-xs-12 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4">
	  <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title text-center" style="font-size: 14px !important;">Ingrese sus datos</h3>
		</div>
		<div class="panel-body">
		  <form class="form-horizontal" role="form"
			  action=""
			  method="post">
			{% csrf_token %}
      {{ form.capture_type }}
			{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
			<div class="form-group">
				<div class="col-xs-12 col-sm-12">
					{{ form.codigo_rut }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12">
					{{ form.codigo_documento }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-12">
					{{ form.compania }}
				</div>
			</div>
			<div class="btn-group btn-group-justified" role="group" aria-label="Enviar">
			 <div class="form-group">
			  <div class="col-sm-offset-4 col-sm-12">
			   <button class="btn btn-sm btn-success" type="submit">Enviar</button>
			  </div>
			 </div>
			</div>
		  </form>
	   </div>
	  </div>
	 </div>
  </div>
</div>
{% endblock %}
