{% extends "base.html" %}
{% load tz %}

{% block title%}{{ block.super }} - Reporte Operador{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>{{local_time|timezone:"America/Santiago"|date:"SHORT_DATETIME_FORMAT"}}</h3>
      </div>
    </div>
    {% if asistencia_resumen %}
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>Resumen de asistencia</h3>
        <div class="table-responsive">
          <table class="table table-hover" style="font-size: 12px">
            <thead>
              <tr>
                <th>CIA</th>
                <th>Cant. Voluntarios</th>
                <th>Operadores Rescate</th>
                <th>Conductores</th>
              </tr>
            </thead>
            <tbody>
              {% for item in asistencia_resumen %}
                <tr>
                  <td class="col-xs-1 col-sm-1">
                    {{item.compania__nombre}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.voluntarios}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.operadores}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.conductores}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    {% if asistencia_detalle %}
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h3>Detalle de Asistencia</h3>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-hover table-striped" style="font-size: 12px">
            <thead>
              <tr>
                <th>Foto ID</th>
                <th>CIA</th>
                <th>Nombre</th>
                <th>Operador</th>
                <th>Conductor</th>
                <th>Fecha/Hora Ingreso</th>
              </tr>
            </thead>
            <tbody>
              {% for item in asistencia_detalle %}
                <tr>
                  <td class="col-xs-1 col-sm-1">
                    {% if item.personal.has_picture %}
                      <img src="{{ item.personal.personal_foto.url }}" alt="{{ item.personal.rut }}" class="img-thumbnail" style="width: auto; height: 70px;">
                    {% else %}
                      <span>Sin Foto</span>
                    {% endif %}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.compania}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.personal.nombre_completo}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.personal.get_operador_rescate_fmt}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.get_conductor}}
                  </td>
                  <td class="col-xs-1 col-sm-1">
                    {{item.fecha_hora_ingreso|timezone:"America/Santiago"|date:"SHORT_DATETIME_FORMAT"}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock content %}

{% block script%}
  {{ block.super }}

  <script type="text/javascript">$(document).ready(function(){
    setTimeout(() => { window.location = '/operador_reporte'; }, 10000);
  });
  </script>
{% endblock script %}