{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport"
       content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block styles %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% endblock styles %}

    <title> {% block title %}Bomberos Peñaflor: Control de Asistencia{% endblock title %} </title>
  </head>

  <body>
    {% block top-nav-wrapper %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if user.is_superuser or has_control_permission %}
                <a class="navbar-brand" href="{% url 'attendance_landing' %}" style="padding-top:0">
                {% elif has_report_permission %}
                <a class="navbar-brand" href="{% url 'operador_reporte' %}" style="padding-top:0">
                {% else %}
                <a class="navbar-brand" href="/" style="padding-top:0">
                {% endif %}
                  <img style="height:225px; max-height:150%; width:auto; margin-top:0;" src="{% static 'images/logo.jpg' %}" alt="Bomberos Peñaflor: Control de Asistencia Web">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    {% if user.is_superuser or has_control_permission %}
                    <a href="{% url 'attendance_landing' %}"><strong>Bomberos Peñaflor: Control de Asistencia</strong></a>
                    {% elif has_report_permission %}
                    <a href="{% url 'operador_reporte' %}"><strong>Bomberos Peñaflor: Control de Asistencia</strong></a>
                    {% else %}
                    <a href="/"><strong>Bomberos Peñaflor: Control de Asistencia</strong></a>
                    {% endif %}
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if user.is_superuser or has_control_permission %}
                    <li>
                        <a href="{% url 'attendance_landing' %}" class="btn btn-link"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Ingreso/Salida</a>
                    </li>
                  {% endif %}
                  {% if user.is_superuser or has_report_permission %}
                    <li>
                        <a href="{% url 'operador_reporte' %}" class="btn btn-link"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Operador</a>
                    </li>
                  {% endif %}          
                {% if user.is_staff or has_setup_permission %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Configuración
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin</a>
                        </li>
                        <li role="separator" class="divider"></li>
                      {% endif %}
                        <li>
                            <a type="button" class="btn btn-link" data-toggle="modal" data-target="#SetCompaniaModal"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Compañia Actual</a> 
                        </li>
                      </ul>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <small>Usuario: {{ user.get_username }} 
                      {% if request.session.compania_nombre %}[ {{ request.session.compania_nombre }} ]{% endif %}</small> <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a type="button" class="btn btn-link" data-toggle="modal" data-target="#CheckPasswordModal"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar Sesión</a>
                        </li>
                      </ul>
                    </li>
                  {% else %}
                    <li>
                      <a href="{% url 'login' %}?next=/" class="btn btn-link"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Ingresar</a>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    <div id="page-content-wrapper">
      {% block content %}
      {% endblock content %}

      <!-- modal dialog -->
      <div class="modal fade" id="CheckPasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
           <form id="ajaxForm" role="form" method="post" action="">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Ingrese contraseña</h4>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <div class="col-xs-8 col-sm-8">
                  <input id="password1" name="password1" type="password" class="form-control" placeholder="Contraseña" required="" autofocus="">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="submit" type="submit" class="btn btn-success">Enviar</button>
            </div>
           </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- modal dialog -->
      <div class="modal fade" id="SetCompaniaModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
           <form id="ajaxFormCia" role="form" method="post" action="">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Compañia de Sesión Actual</h4>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <div class="col-xs-10 col-sm-10">
                  <input id="compania" name="compania" type="text" class="form-control" placeholder="Nombre Compañia" required="" autofocus="">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button id="save" type="submit" class="btn btn-success">Guardar</button>
            </div>
           </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
    <!-- /#page-content-wrapper -->

    <div id="footer">
      {% block footer %}
      {% endblock footer %}
    </div>

 </div>
 <!-- /#wrapper -->
  {% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
      // 
      $('#submit').on("click", function(e){
        var password = $('#password1').val();
        // console.info(password);

        if (password){
          e.preventDefault();
        } else {
          return true;
        }

        // Get the form
        var form = document.getElementById("ajaxForm");
        var payload = new FormData(form);       

        $.ajax({
          url: '/ajax/check-password/',
          type: 'POST',
          data: payload,
          processData: false,
          contentType: false,
          success: function (data) {
            if (data.pwd_ok) {
              window.location = '/logout';
            } else {
              $('#CheckPasswordModal').modal('hide');
              setTimeout(() => { alert('La contraseña es incorrecta.'); }, 1000);
            }
          },
          error: function (err) {
            console.error(err);
            $('#CheckPasswordModal').modal('hide');
          },
        });
      });

      // 
      $('#save').on("click", function(e){
        var compania = $('#compania').val();

        if (compania){
          e.preventDefault();
        } else {
          return true;
        }

        // Get the form
        var form = document.getElementById("ajaxFormCia");
        var payload = new FormData(form);       

        $.ajax({
          url: '/ajax/set-compania/',
          type: 'POST',
          data: payload,
          processData: false,
          contentType: false,
          success: function (data) {
            $('#SetCompaniaModal').modal('hide');
            if (data.cia_ok) {
              setTimeout(() => { alert('Se actualizó la compañia de la sesión actual.'); }, 500);
              setTimeout(() => { location.reload(); }, 500);
            } else {
              setTimeout(() => { alert('Nombre de compañia es incorrecto.'); }, 1000);
            }
          },
          error: function (err) {
            console.error(err);
            $('#SetCompaniaModal').modal('hide');
          },
        });
      });

    </script>
  {% endblock script %}
  </body>
</html>
